# Chapter 8: Functions in Python

## Defining
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### This is how you define a function in Python
- def keyword
- name of the function
- (parameters) --> parameters can also be empty
- body of the function

In [1]:
def my_function():
    print("Hello World")
    
my_function() # calling the function to get the output

Hello World

In [2]:
def my_function2():
    print(8*2)
my_function2()

16

### Why we need function?

In [3]:
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

In [5]:
def address():
    print(print("2001 Newburg Road")
          
address()
address()          
address()
address()
address()

SyntaxError: invalid syntax (1222246994.py, line 4)

### Function with parameters


### The `return` statement: 
* Use inside a function or method to send the function’s result back to the caller. 
* A return statement consists of the `return` keyword followed by an optional return value

* Three Ways to Return a Result to a Function’s Caller
    * **`return`** followed by an expression.
    * **`return`** without an expression implicitly returns **`None`**&mdash;represents the **absence of a value** and **evaluates to `False` in conditions**.
    * **No `return` statement implicitly returns `None`**.

In [6]:
def squared(number):
    return (number**2)
squared(3)

9

In [7]:
squared(32543)

1059046849

In [13]:
def cubed(number):
    return (number**3)
cubed(4)

64

## Our own functions for practice
`Echo` that will act same as print

In [14]:
def echo(data):
    return data
echo("Hello")

'Hello'

In [15]:
echo(345)

345

### Practice1 Favorite Book: Write a function called favorite_book() that accepts one parameter, title. 
The function should print a message, such as One of my
favorite books is Alice in Wonderland. Call the function, making sure to
include a book title as an argument in the function call.

In [16]:
def favorite_book(book):
    print(book+ " is one of my favorite books")

In [18]:
favorite_book('Harry Potter')

Harry Potter is one of my favorite books

In [23]:
def favorite_book1(title):
    message=title+ " is one of my favorite books"
    return(title+ " is one of my favorite books")
    return(message)

### Functions with Multiple Parameters
* `calc_MPG` function that determines the MPG from miles driven and gallons used

In [24]:
def  calc_MPG(miles_driven, gallons_used):
    return(miles_driven/gallons_used)

In [25]:
calc_MPG(100,4)

25.0

## Default Parameter
With default parameters, you can specify a default value that will be used for the function. If you pass a parameter in for the default value, it uses that value instead. 
### def MPG(miles=200,gallon=12)

In [42]:
def MPG(miles_driven =200, gallon_used = 12):
    gallon_used=11
    return (miles_driven/gallon_used)

In [44]:
MPG(miles_driven =500)

45.45454545454545

In [34]:
MPG()

27.272727272727273

###  Function repeat using `for` loop

In [37]:
def repeat_echo(data, count):
    for i in range (count):
        print(data)

In [38]:
repeat_echo("2001 Newburg Road", 5)

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

## Practice: Define a function called `name` and print your name 20 times using the function

In [39]:
def repeat_name(name, count):
    for i in range (count):
        print(name)

In [41]:
repeat_name("Jaden", 20)

Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden
Jaden

### Write a function to find maximum of three values

In [45]:
max(23,56,78)

78

In [46]:
def maximum(a,b,c):
    if a>b and a>c:
        largest=a
    elif (b>c):
        largest=b
    else:
        largest=c
    return largest

In [47]:
maximum(23,45,12)

45

In [48]:
maximum(45,12,89)

89

In [49]:
maximum(67,89,12)

89

### Practice Example: Define `minimum` function of three values

In [50]:
def minimum(a,b,c):
    if a<b and a<c:
        smallest=a
    elif (b<c):
        smallest=b
    else:
        smallest=c
    return smallest

In [51]:
minimum(34,65,54)

34

#  Arbitrary Argument Lists
*  **`*args`**, indicating that the function can receive any number of additional arguments. 
* The `*` before the parameter name tells Python to pack any remaining arguments into a tuple that’s passed to the `args` parameter.

In [54]:
def addition(*args):
    return sum (args)

In [55]:
addition(134,32432,55,54)

32675

In [56]:
# mean of numbers
def get_mean(*args):
    return sum(args)/len(args)

In [57]:
get_mean(23,23,45,67)

39.5

In [59]:
get_mean(22,5456,3,546,45)

1214.4

### Arbitary Argumented list with list

In [61]:
numbers=[34,56,78,99]
get_mean(*numbers)

66.75

### More about functions
In this session we looked at the concept of `scope`, working with `random numbers`, `statictics` and using various versions of import to work with different functions in module.

### Scope
* Each identifier has a `scope` that determines where you can use it in your program.

* A local variable’s identifier has **local scope**. 

* Identifiers defined outside any function (or class) have **global scope**—these may include functions, variables and classes.

One thing you don't want to do is create a variable and function with the same name. The variable will "hide" the function and prevent you from calling it. If you execute the cell below it will throw an error.

In [62]:
x=10 # global variable

def scope_of_function(num):
    return num*2  # num is a local variable

scope_of_function(20)

40

In [63]:
x

10

In [64]:
num #local variable

NameError: name 'num' is not defined

* By default, you cannot _modify_ a global variable in a function
* Python creates a **new local variable** when you first assign a value to a variable in a function’s block.
* In function `try_to_modify_global`’s block, the local `x` **shadows** the global `x`, making it inaccessible in the scope of the function’s block.

In [65]:
x=10
def try_to_modify_global():
    x=3.5
    print(x)
try_to_modify_global()

3.5

In [67]:
x #global value remains the same

10

* To modify a global variable in a function’s block, you must use a **`global`** statement to declare that the variable is defined in the global scope: "modify_global"

In [68]:
x=10
def modify_global():
    global x
    x=3.5
    print(x)
modify_global()

3.5

In [69]:
x

3.5

## Write functions to find out Area and Perimeter of circle

In [70]:
from math import pi
pi

3.141592653589793

In [73]:
def area_circle(r):
    return pi*(r**2)

def peri_circle(r):
    return 2*pi*r

radius=int(input("Enter the value of radius: "))
print("The area of the circle", round(area_circle(radius)))
print("Perimeter of the circle", round(peri_circle(radius)))

Enter the value of radius: 10
The area of the circle 314
Perimeter of the circle 63

## Write functions to find out Area and Perimeter of rectangle

In [91]:
def area_rectangle(h,l):
    return h*l

def peri_rectangle(h,l):
    return 2*(h+l)
    
area=int(input("Enter the value of length: "))
perimeter=int(input("Enter the value of height: "))

print("The area of the rectangle", area_rectangle(area))
print("The perimeter of the rectangle", peri_rectangle(perimeter))

KeyboardInterrupt: Interrupted by user

## Random Number Generation
* Can introduce the element of chance via the Python Standard Library’s `random` module.

* `randrange` function generates an integer from the first argument value up to, but not including, the second argument value.
* Different values are displayed if you re-execute the loop.
* random.randrange where `random` is module and `randrange` is method

In [89]:
import random
x=random.randrange(10,20)
print(x)

18

In [99]:
# filling in empty list with random numbers
List=[]
for i in range(10): # 10 entries to the list
    x=random.randrange(1,20) # numbers will be in between 1 to 19(included)
    List.append(x)
print(List)

[9, 15, 10, 19, 7, 4, 6, 17, 16, 19]

## Print 20 numbers in the range of 30 to 50

In [114]:
empty=[]
for i in range(20):
    y=random.randrange(30,51)
    empty.append(y)
print(empty)

[44, 45, 39, 38, 38, 36, 31, 49, 36, 30, 42, 50, 48, 35, 42, 45, 43, 49, 43, 49]

### Guess the number between 1 to 10

In [117]:
import random
number=random.randint(1,10) # randint 10 is included
entered_number=None
time=0

while entered_number!=number:
    entered_number = int(input("Enter a number between 1 and 10: "))
    
    if entered_number==number:
        print("You won", "You took", time, 'chances')
    else:
        print("Try again")
    time=time+1

Enter a number between 1 and 10: 1
Try again
Enter a number between 1 and 10: 6
Try again
Enter a number between 1 and 10: 3
Try again
Enter a number between 1 and 10: 8
Try again
Enter a number between 1 and 10: 9
You won You took 4 chances